body{
    background-color: green;
    h1{
        color: white;
    }

    p{
        color: pink;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }
}